<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Director list</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body>
		<table>
				<tr>
					<th>Director</th>
				</tr>
			<tbody>
				<tr th:each = "director : ${directors}">

					<td th:text="${director.name}"></td>

 					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletedirector/{directorid}(directorid=${director.directorid})}">Delete</a></td>					
                    <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editdirector/{directorid}(directorid=${director.directorid})}">Edit</a></td> 
					
				</tr>
			</tbody>
		</table>
		<a href="/adddirector">Add director</a>
		<a href="/movielist">Movies</a>
	</body>

</html>